@{
    ViewData["Title"] = "Change Student Teacher";
}

<h1>Update teacher Reidar to Tobias in first CoursInfoId, Programmering 1</h1>

@* Post - gör en ändirng på Lärare i databasen via Controllern ChangeStudentTeacher med UpdateTeacher *@
<form method="post" action="/ChangeStudentTeacher/UpdateTeacher">
    <button type="submit" class="btn btn-primary">Update Teacher Name</button>
</form>


<div>
     <a asp-area="" asp-controller="CourseInfoes" asp-action="Index">Back to CourseMenu</a>
</div>
