@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <h5>NitroHighSchool</h5>
    <p>In the Menu you find everything you'll need</p>
</div>
